
<ion-content class="bg-img">

  <div class="main-content">
    <div padding text-center class="container-logo">
      
        <img src="assets/imgs/banner.jpg" />
      
    </div>
   

    <div padding class="container-logo">
   
      <form [formGroup]="authForm" (ngSubmit)="userLogin(loginData)">

      <div class="errormsg">
        <div *ngIf="email.errors && email.touched">
            <p>Email é obrigatório.</p>
        </div>
        <div *ngIf="password.errors && password.touched">
            <p>Senha é obrigatória.</p>
        </div>
      </div>

        <ion-list>
          <ion-item padding-right>
            <ion-label>
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="loginData.email" [formControl]="email" id="email" type="text" 
            required placeholder="Email *"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
            </ion-label>
              <ion-input [(ngModel)]="loginData.senha" [formControl]="password" id="password" type="{{passwordtype}}" 
              required placeholder="Senha *"></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
              <ion-icon name="{{passeye}}"></ion-icon></button>
          </ion-item>
        </ion-list>
        <button type="submit" ion-button full color="dark" [disabled]="!authForm.valid">Entrar</button>
    </form>
    <div padding text-center class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()"> Esqueceu a Senha?</a></div>
        <div padding text-center class="form-bottom-text">
          <label>Ainda não tem conta? <a href="javascript:void(0);" (click)="moveToCadastrar()">Cadastre-se</a></label>
        </div>

  </div>
  </div>

</ion-content>
