page-perfil {
    img {
        width: 150px;
         height: 80px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 5px;
    }
    .circle {
        width: 40%;
        border-radius: 100%;
        margin: 10px auto 0 auto;
    }

}
