<ion-header class="header-main">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-img">
  <div class="main-content">


    <div padding style="width: 100%;">
      <form [formGroup]="authForm">
       
        <div class="errormsg">
          <!--<div *ngIf="nome.touched">
            <p>nome é obrigatorio.</p>
          </div>

          <div class="error-box" *ngIf="email.touched">
            <p>Email é obrigatorio .</p>
          </div>

          <div *ngIf="cpf.touched">
              <p>cpf é obrigatorio.</p>
            </div>

            <div *ngIf="rg.touched">
              <p>rg é obrigatorio.</p>
            </div>
            
            <div *ngIf="habilitacao.touched">
              <p>habilitação é obrigatorio.</p>
            </div>
            <div *ngIf="validade_hab.touched">
              <p>validade é obrigatorio.</p>
            </div>
            <div *ngIf="data_nascimento.touched">
              <p>data nascimento é obrigatorio.</p>
            </div>-->
         
  
          <!--<div *ngIf="senha.touched">
            <p>Senha é obrigatorio.</p>
          </div>
          <div *ngIf="cnfpass.touched">
            <p>Confirmar senha é obrigatorio.</p>
          </div>-->
          

         

        </div>

        <ion-list>

          <ion-avatar >
            <img class="circle" [src]="img  || 'assets/imgs/contact.jpg'" (click)="tirarFoto()">
          </ion-avatar>

          <ion-item padding-right>
            <ion-label floating color="dark"> Nome completo </ion-label>
            <ion-input [(ngModel)]="cliente.nome" [formControl]="nome" id="nome" type="text" required></ion-input>
          </ion-item>

          <ion-item padding-right>
            <ion-label floating color="dark"> Cpf</ion-label>
            <ion-input [(ngModel)]="cliente.cpf" [formControl]="cpf" id="cpf" type="text" required ></ion-input>
          </ion-item>

          <ion-item padding-right>
              <ion-label floating color="dark"> Rg </ion-label>
            <ion-input [(ngModel)]="cliente.rg" [formControl]="rg" id="rg" type="text" required ></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating color="dark">  Email </ion-label>
            <ion-input [(ngModel)]="cliente.email" [formControl]="email" id="email" type="email" ></ion-input>
          </ion-item>

          <!--<ion-item>
              <ion-label floating>
              Senha
            </ion-label>
            <ion-input [(ngModel)]="cliente.senha" [formControl]="senha" id="senha" type="{{passwordtype}}" required ></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
              <ion-icon name="{{passeye}}"></ion-icon>
            </button>
          </ion-item>

          <ion-item>
              <ion-label floating>
              Confrimar senha
            </ion-label>
            <ion-input [(ngModel)]="confirmarSenha" [formControl]="cnfpass" id="cnfpass" type="{{cnfpasswordtype}}" required ></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managecnfPassword()">
              <ion-icon name="{{cnfpasseye}}"></ion-icon>
            </button>
          </ion-item>-->

          
          <ion-item padding-right>
              <ion-label floating color="dark">
               Habilitação
            </ion-label>
            <ion-input [(ngModel)]="cliente.habilitacao" [formControl]="habilitacao" id="habilitacao" type="text" required></ion-input>
          </ion-item>

          <ion-item padding-right>
              <ion-label floating color="dark">
              Validade da habilitação
            </ion-label>
            <ion-input [(ngModel)]="cliente.validade_hab" [formControl]="validade_hab" id="validade_hab" type="date" required ></ion-input>
          </ion-item>

          <ion-item padding-right>
              <ion-label floating color="dark">
               Data de nascimento
            </ion-label>
            <ion-input [(ngModel)]="cliente.data_nascimento" [formControl]="data_nascimento" id="data_nascimento" type="date" require></ion-input>
          </ion-item>

        </ion-list>
        <button ion-button full color="primary" [disabled]="!authForm.valid" (click)="editar()">Atualizar</button>
      </form>



    </div>
  </div>
</ion-content>