page-agenda {
   
	.toolbar-ios {
		ion-title {
			left: 50%;
			display: block;
			margin: 0 auto;
			@include calc('max-width', '100% - 90px');
			width: auto;
			@include transform(translateX(-50%));
			p {
				margin: 12px 0;
			}
		}
	}
	.header-btn{
		margin-left: -35px !important;
		color: #FFF !important;
	}
	.color-txt{
		color: #FFF !important;
	}

    img {
        width: 150px;
         height: 80px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 5px;
    }
    .circle {
        width: 40%;
        border-radius: 100%;
        margin: 10px auto 0 auto;
  }
  
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color:#FFF; 
  }
	
	.header-main {
		background-color: #4682B4 !important;
	}
	.toolbar-ios {
		ion-title {
			left: 50%;
			display: block;
			margin: 0 auto;
			@include calc('max-width', '100% - 90px');
			width: auto;
			@include transform(translateX(-50%));
			p {
				margin: 12px 0;
			}
		}
  }
  /* Siide menu design */
.app-root ion-menu .menu-inner,
.app-root ion-menu .content {
  background-color:#5F9EA0;
}
.title{
	margin-left: 10px;
}
}
